
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
  <head>
    <title>{% block title %}{{title|default}}{% endblock title %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type=text/javascript>
        $(function() {
            $('#sharpen').bind('click', function() {
                $.ajax({
                    type: "POST",
                    url: '/webcam',
                    contentType: "application/json",
                    data: '{"mode": "sharpen"}',
                    success: function(data) {
                        window.location.reload();
                    }
                });
             });
            $('#sketch').bind('click', function() {
                $.ajax({
                    type: "POST",
                    url: '/webcam',
                    contentType: "application/json",
                    data: '{"mode": "sketch"}',
                    success: function(data) {
                        window.location.reload();
                    }
                });
            });
            $('#blur').bind('click', function() {
                $.ajax({
                    type: "POST",
                    url: '/webcam',
                    contentType: "application/json",
                    data: '{"mode": "blur"}',
                    success: function(data) {
                        window.location.reload();
                    }
                });
            });
            $('#rotate').bind('click', function() {
                $.ajax({
                    type: "POST",
                    url: '/webcam',
                    contentType: "application/json",
                    data: '{"mode": "rotate"}',
                    success: function(data) {
                        window.location.reload();
                    }
                });
            });
            $('#crop').bind('click', function() {
                $.ajax({
                    type: "POST",
                    url: '/webcam',
                    contentType: "application/json",
                    data: '{"mode": "crop"}',
                    success: function(data) {
                        window.location.reload();
                    }
                });
            });
            $('#noise').bind('click', function() {
                $.ajax({
                    type: "POST",
                    url: '/webcam',
                    contentType: "application/json",
                    data: '{"mode": "noise"}',
                    success: function(data) {
                        window.location.reload();
                    }
                });
            });
        });
    </script>
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    <h1>Webcam-Sketch</h1>
    <div class="content">
        <div class="frame">
            <img src="{{ url_for('webcam') }}">
        </div>
        <div class="control">
            <div class="text-center">
                <button id="sketch" type="button" class="btn btn-primary btn-lg">Sketch</button>
                <button id="sharpen" type="button" class="btn btn-primary btn-lg">Sharpen</button>
                <button id="blur" type="button" class="btn btn-primary btn-lg">Blur</button>
                <button id="rotate" type="button" class="btn btn-primary btn-lg">Rotate</button>
                <button id="crop" type="button" class="btn btn-primary btn-lg">Crop</button>
                <button id="noise" type="button" class="btn btn-primary btn-lg">Remove Noise</button>
            </div>
        </div>
    </div>
  </body>
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>

  </body>
</html>